body {
    background-color: yellow;
  }
  
  form {
    background-color: rgb(222, 226, 1);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
  }
  
  label, input[type="submit"] {
    display: block;
    margin-bottom: 20px;
  }
  